
@{
    ViewBag.Title = "Index";
}

<html>
<head></head>
<body>
    <ul class="nav">
        <li><a> @Html.ActionLink("Convertisseur de device", "ConverteurDevice", "Default", null, new { @class = "btn btn-primary" })</a></li>
        <li><a> @Html.ActionLink("Convertisseur de temperature", "ConvertisseurTemperature", "Default", null, new { @class = "btn btn-info" })</a></li>
        <li><a> @Html.ActionLink("Calculateur", "Calculator", "Default", null, new { @class = "btn btn-warning" })</a></li>
    </ul>
</body>
</html>